:root {
  --background-primary: #fff5f5;
  --text-primary: #333;
  --text-secondary: #666;
  --text-inverse: #fff;
  --github-color: #151b23;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--background-primary);
  color: var(--text-primary);
}
.solway-regular {
  font-family: "Solway", serif;
  font-weight: 400;
  font-style: normal;
}
